*.a
*.o
*.lo
*.libs
*.la
*.so
Makefile
config.log
config.status

# from https://github.com/github/gitignore/blob/master/Autotools.gitignore
/autom4te.cache
/autoscan.log
/autoscan-*.log
/aclocal.m4
/compile
/config.h.in
/configure
/configure.scan
/depcomp
/install-sh
/missing
/stamp-h1
