*.a
*.o
*.lo
*.libs
*.la
*.so
Makefile
config.log
config.status

# from https://github.com/github/gitignore/blob/master/Autotools.gitignore
autom4te.cache
autoscan.log
autoscan-*.log
aclocal.m4
compile
config.h.in
configure
configure.scan
depcomp
install-sh
missing
stamp-h1

*.deps/
Makefile.in
libtool

# binaries
c_pgmtk/examples/ex_inf_learn_dbn/src/inf_learn_dbn
c_pgmtk/examples/ex_param/Src/ex_param
c_pgmtk/examples/gibbs/Src/gibbs
c_pgmtk/examples/inf_learn_bnet/Src/inf_learn_bnet
c_pgmtk/examples/learn_param/src/learn_param
c_pgmtk/examples/linux_test/test_run
c_pgmtk/examples/mixture_gaussian_bnet/Src/mixture_gaussian_bnet
c_pgmtk/examples/parPNLTest/src/parPNLTest
c_pgmtk/examples/testLIMID/src/TestLIMID
c_pgmtk/examples/testSL/testSEM
c_pgmtk/examples/testSL/testSL
c_pgmtk/examples/testSL/testSL_DBN
c_pgmtk/examples/testSoftMax/src/TestSoftMax
c_pgmtk/examples/trial/Src/trial
c_pgmtk/examples/use_matrix/src/use_matrix
high/examples/example
